[submodule "WaaS/WaaS.Tests.Wast/spec"]
	path = WaaS/WaaS.Tests.Wast/spec
	url = https://github.com/WebAssembly/spec.git
[submodule "WaaS/wit2waas/wasi/wasi-io"]
	path = WaaS/wit2waas/wasi/wasi-io
	url = https://github.com/WebAssembly/wasi-io.git
[submodule "WaaS/wit2waas/wasi/wasi-clocks"]
	path = WaaS/wit2waas/wasi/wasi-clocks
	url = https://github.com/WebAssembly/wasi-clocks.git
[submodule "WaaS/wit2waas/wasi/wasi-random"]
	path = WaaS/wit2waas/wasi/wasi-random
	url = https://github.com/WebAssembly/wasi-random.git
[submodule "WaaS/wit2waas/wasi/wasi-filesystem"]
	path = WaaS/wit2waas/wasi/wasi-filesystem
	url = https://github.com/WebAssembly/wasi-filesystem.git
[submodule "WaaS/wit2waas/wasi/wasi-sockets"]
	path = WaaS/wit2waas/wasi/wasi-sockets
	url = https://github.com/WebAssembly/wasi-sockets.git
[submodule "WaaS/wit2waas/wasi/wasi-cli"]
	path = WaaS/wit2waas/wasi/wasi-cli
	url = https://github.com/WebAssembly/wasi-cli.git
[submodule "WaaS/wit2waas/wasi/wasi-http"]
	path = WaaS/wit2waas/wasi/wasi-http
	url = https://github.com/WebAssembly/wasi-http.git
[submodule "WaaS/DocFxMarkdownGen"]
	path = WaaS/DocFxMarkdownGen
	url = https://github.com/ruccho/DocFxMarkdownGen.git
[submodule "WaaS/WaaS.Tests.Wast/wasm-tools"]
	path = WaaS/WaaS.Tests.Wast/wasm-tools
	url = https://github.com/ruccho/wasm-tools.git
[submodule "WaaS/WaaS.Tests.Wast/wasmtime"]
	path = WaaS/WaaS.Tests.Wast/wasmtime
	url = https://github.com/bytecodealliance/wasmtime.git
[submodule "WaaS/WaaS.Debugging.Cdp/devtools-protocol"]
	path = WaaS/WaaS.Debugging.Cdp/devtools-protocol
	url = https://github.com/ChromeDevTools/devtools-protocol.git
